.general{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: auto; 
    height: auto;  
}
h1{
    margin-top: 0;
    font-size: 30px;
    font-weight: bold;
    color: orange;
    margin-bottom: 10px;
}

.general img{
    margin-top: 0;
    width: 350px;
    height: 250px;
}

.box-min-width{
    width: 100px;
    height: 100px;
    background: goldenrod;
}

/* ---------------------------------- */

@media screen and (min-width: 480px){
    .general{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        height: auto;   
    }

    h1{
        margin-top: 0;
        font-size: 38px;
        color: brown;
        margin-bottom: 5px;
    }
    
    .general img{
        margin-top: 0;
        width: 450px;
        height: 350px;
    }
    
    .box-min-width{
        width: 120px;
        height: 120px;
        background: red;
    }
}

@media screen and (min-width: 640px){
    .general{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        height: auto;   
    }

    h1{
        margin-top: 0;
        font-size: 40px;
        color: green;
        margin-bottom: 5px;
    }
    
    .general img{
        margin-top: 0;
        width: 455px;
        height: 355px;
    }
    
    .box-min-width{
        width: 123px;
        height: 123px;
        background: greenyellow;
    }
}

@media screen and (min-width: 768px){
    .general{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        height: auto;   
    }

    h1{
        margin-top: 0;
        font-size: 45px;
        font-weight: bold;
        color: black;
        margin-bottom: 5px;
    }  
    .general img{
        margin-top: 0;
        width: 480px;
        height: 380px;
    }
    .box-min-width{
        width: 130px;
        height: 130px;
        background: purple;
  }
    
}

@media screen and (min-width: 1024px){
    .general{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        height: auto;   
    }

    h1{
        margin-top: 0;
        font-size: 48px;
        font-weight: bold;
        color: pink;
        margin-bottom: 5px;
    }  
    .general img{
        margin-top: 0;
        width: 490px;
        height: 390px;
    }
    .box-min-width{
        width: 145px;
        height: 145px;
        background: aqua;
  }
}
